<div class="page-title">
    <button routerLink="../" mat-icon-button>
        <mat-icon inline="true">arrow_back</mat-icon>
    </button>
    <h1 class="m-0">Ajouter un apprenant</h1>
</div>


<form (submit)="onSubmit($event)" [formGroup]="studentForm" class="card-form">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input formControlName="first" matInput>
            <mat-error *ngIf="studentForm.controls['first'].hasError('required')">ce champs est requis</mat-error>
            <mat-error *ngIf="studentForm.controls['first'].hasError('minlength')">ce champs doit faire au moins 2 caractères</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input formControlName="last" matInput>
            <mat-error *ngIf="studentForm.controls['last'].hasError('required')">ce champs est requis</mat-error>
            <mat-error *ngIf="studentForm.controls['last'].hasError('minlength')">ce champs doit faire au moins 2 caractères</mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
            <mat-error *ngIf="studentForm.controls['email'].hasError('required')">ce champs est requis</mat-error>
            <mat-error *ngIf="studentForm.controls['email'].hasError('email')">l'email n'est pas au bon format</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Ville</mat-label>
            <input formControlName="city" matInput>
            <mat-error></mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input formControlName="mobile" matInput>
            <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Situation</mat-label>
            <mat-select formControlName="situation">
                <mat-option value="1">Entrepreneur</mat-option>
                <mat-option value="2">Salarié</mat-option>
                <mat-option value="3">Demandeur d'emploi</mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.controls['situation'].hasError('required')">ce champs est requis</mat-error>
        </mat-form-field>
    </div>

    <button type="submit">Envoyer</button>

</form>


<!-- <pre>{{studentForm.value|json}} </pre>-->



